/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.anchored-home {
    position: absolute;
    top: 0;
    bottom: 0;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.filters {
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: -1000;
}

.indigo-logo {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 420px;
    fill: white;
    z-index: 6;
}

.indigo-logo-motion {
    padding-top: 70px;
    padding-bottom: 70px;
    position: absolute;
    left: calc( (100vw - 280px)/2 );
    z-index: 5;
    height: 420px;
    width: 280px;
    fill: white;
    filter: url("#motionBlur");
    opacity: 1;
}

.indigo-logo-motion.blur-horiz {
    filter: url("#motionBlurH");
}

.indigo-logo-motion.blur-all {
    filter: url("#motionBlurAll");
    opacity: .2;
}

@media screen, projection {
    .row::after {
        content: "";
        display: block !important;
        clear: both;
    }
}

@media (max-width:994px) {
    svg.indigo-logo-motion,
    svg.indigo-logo {
        height: 300px;
        padding: 30px 0;
    }
}

@media (max-width:600px) {
    svg.indigo-logo-motion,
    svg.indigo-logo {
        padding-top: 70px;
    }
}